.DS_Store
Thumbs.db
*.min.js

node_modules/
dist/
npm-debug.log
tmp

# Ignore all styles compiled from LESS files
*.css

# But not icon or lib CSS files.
!icons/**/*.css
!**/lib/**/*.css
!/css/accessibility.css

.cursorrules
.claude/
# Playwright.
tests/cache
tests/results
tests/screenshots

so-tests.env
