@heading_background_color: #828282;
@heading_background_hover_color: #8C8C8C;
@title_color:#FFFFFF;
@title_hover_color: default;
@heading_border_color: default;
@heading_border_hover_color: default;
@heading_border_width: default;
@heading_padding_left_right: 30px;
@heading_padding_top_bottom: 15px;

@panels_background_color: #F9F9F9;
@panels_border_color: default;
@panels_border_width: default;
@panels_padding_left_right: 30px;
@panels_padding_top_bottom: 15px;
@panels_margin_bottom: 10px;

.sow-accordion {
	.sow-accordion-panel {
		.sow-accordion-panel-header {
			position: relative;
			cursor: pointer;
			padding: @heading_padding_top_bottom @heading_padding_left_right;
			background-color: @heading_background_color;
			color: @title_color;

			& when( isnumber( @heading_border_width ) ) {
				border-style: solid;
				border-color: @heading_border_color;
				border-width: @heading_border_width;
			}

			&:hover {
				background-color: @heading_background_hover_color;
				color: @title_hover_color;
				border-color: @heading_border_hover_color;
			}

			.sow-accordion-open-button,
			.sow-accordion-close-button {
				float: right;
			}
		}
		&:not(.sow-accordion-panel-open) .sow-accordion-panel-header {
			.sow-accordion-open-button {
				display: block;
			}
			.sow-accordion-close-button {
				display: none;
			}
		}
		&.sow-accordion-panel-open .sow-accordion-panel-header {
			.sow-accordion-open-button {
				display: none;
			}
			.sow-accordion-close-button {
				display: block;
			}
		}
		.sow-accordion-panel-content {
			background-color: @panels_background_color;
			& when( isnumber( @panels_border_width ) ) {
				border-style: solid;
				border-color: @panels_border_color;
				border-width: @panels_border_width;
			}
			padding: @panels_padding_top_bottom @panels_padding_left_right;
		}
		margin-bottom: @panels_margin_bottom;
	}
}
