/* Styles required for icons, otherwise they are overridden by Beaver Builder's form styles */
.fl-lightbox .sow-icon-elegantline,
.fl-lightbox .sow-icon-fontawesome,
.fl-lightbox .sow-icon-genericons,
.fl-lightbox .sow-icon-icomoon,
.fl-lightbox .sow-icon-ionicons,
.fl-lightbox .sow-icon-typicons {
  display: inline-block;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.fl-lightbox .sow-icon-elegantline {
  font-family: 'sow-elegantline';
}
.fl-lightbox .sow-icon-fontawesome {
  font-family: 'sow-fontawesome';
}
.fl-lightbox .sow-icon-genericons {
  font-family: 'sow-genericons';
}
.fl-lightbox .sow-icon-icomoon {
  font-family: 'sow-icomoon';
}
.fl-lightbox .sow-icon-ionicons {
  font-family: 'sow-ionicons';
}
.fl-lightbox .sow-icon-typicons {
  font-family: 'sow-typicons';
}
/* Button styles copied from wp-core for default UI look. */
.wp-picker-container .wp-picker-input-wrap input[type="button"].button.button-small {
  font-family: inherit;
  font-weight: normal;
  text-transform: capitalize;
  color: #555;
  background: #f7f7f7;
  box-shadow: 0 1px 0 #cccccc;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid #cccccc;
  border-radius: 3px;
  box-sizing: border-box;
  height: 24px;
  line-height: 22px;
  padding: 0 8px 1px;
  font-size: 11px;
}
.wp-picker-container .wp-picker-input-wrap input[type="button"].button.button-small:hover,
.wp-picker-container .wp-picker-input-wrap input[type="button"].button.button-small:focus {
  background: #fafafa;
  border-color: #999;
  color: #23282d;
}
.wp-picker-container .wp-picker-input-wrap input[type="button"].button.button-small:active,
.wp-picker-container .wp-picker-input-wrap input[type="button"].button.button-small:focus {
  outline: none;
}
.wp-picker-container .wp-picker-input-wrap input[type="button"].button.button-small.hidden {
  display: none;
}
