/* Styles required for icons, otherwise they are overridden by Beaver Builder's form styles */
/* Unfortunately a lot of `!important`s necessary to override beaver's `!important`s. :/ */
.fl-lightbox .siteorigin-widget-form {
  /* Button styles copied from wp-core for default UI look. */
}
.fl-lightbox .siteorigin-widget-form.siteorigin-widget-form-main {
  min-width: inherit;
}
.fl-lightbox .siteorigin-widget-form .siteorigin-widget-teaser .dashicons {
  font-family: dashicons;
}
.fl-lightbox .siteorigin-widget-form .siteorigin-widget-field input {
  margin: 0 !important;
}
.fl-lightbox .siteorigin-widget-form .siteorigin-widget-field input[type="checkbox"] {
  vertical-align: middle;
}
.fl-lightbox .siteorigin-widget-form .siteorigin-widget-field input.siteorigin-widget-input-color {
  margin: 5px !important;
}
.fl-lightbox .siteorigin-widget-form .siteorigin-widget-field input.siteorigin-widget-input-measurement {
  margin: 1px !important;
  height: inherit;
}
.fl-lightbox .siteorigin-widget-form .siteorigin-widget-field select.siteorigin-widget-input {
  height: inherit;
  padding: 3px;
}
.fl-lightbox .siteorigin-widget-form .siteorigin-widget-field .siteorigin-widget-field-type-slider input[type="number"] {
  display: none !important;
}
.fl-lightbox .siteorigin-widget-form .siteorigin-widget-field .clear {
  clear: both;
}
.fl-lightbox .siteorigin-widget-form .siteorigin-widget-field .siteorigin-widget-field-type-media .media-fallback-external {
  margin-top: 4px !important;
  margin-left: 15px !important;
  max-width: 220px;
}
.fl-lightbox .siteorigin-widget-form .sow-icon-elegantline,
.fl-lightbox .siteorigin-widget-form .sow-icon-fontawesome,
.fl-lightbox .siteorigin-widget-form .sow-icon-genericons,
.fl-lightbox .siteorigin-widget-form .sow-icon-icomoon,
.fl-lightbox .siteorigin-widget-form .sow-icon-ionicons,
.fl-lightbox .siteorigin-widget-form .sow-icon-typicons {
  display: inline-block;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.fl-lightbox .siteorigin-widget-form .sow-icon-elegantline {
  font-family: 'sow-elegantline';
}
.fl-lightbox .siteorigin-widget-form .sow-icon-fontawesome {
  font-family: 'sow-fontawesome';
}
.fl-lightbox .siteorigin-widget-form .sow-icon-genericons {
  font-family: 'sow-genericons';
}
.fl-lightbox .siteorigin-widget-form .sow-icon-icomoon {
  font-family: 'sow-icomoon';
}
.fl-lightbox .siteorigin-widget-form .sow-icon-ionicons {
  font-family: 'sow-ionicons';
}
.fl-lightbox .siteorigin-widget-form .sow-icon-typicons {
  font-family: 'sow-typicons';
}
.fl-lightbox .siteorigin-widget-form .button,
.fl-lightbox .siteorigin-widget-form .button-secondary {
  display: inline-block;
  text-decoration: none;
  font-size: 13px;
  line-height: 26px;
  height: 28px;
  margin: 0;
  padding: 0 10px 1px;
  cursor: pointer;
  border: 1px solid #cccccc;
  border-radius: 3px;
  white-space: nowrap;
  box-sizing: border-box;
  font-family: inherit;
  font-weight: normal;
  text-transform: capitalize;
  color: #555;
  background: #f7f7f7;
}
.fl-lightbox .siteorigin-widget-form .button:hover,
.fl-lightbox .siteorigin-widget-form .button-secondary:hover,
.fl-lightbox .siteorigin-widget-form .button:focus,
.fl-lightbox .siteorigin-widget-form .button-secondary:focus {
  background: #fafafa;
  border-color: #999;
  color: #23282d;
}
.fl-lightbox .siteorigin-widget-form .button:active,
.fl-lightbox .siteorigin-widget-form .button-secondary:active,
.fl-lightbox .siteorigin-widget-form .button:focus,
.fl-lightbox .siteorigin-widget-form .button-secondary:focus {
  outline: none;
}
.fl-lightbox .siteorigin-widget-form .button.hidden,
.fl-lightbox .siteorigin-widget-form .button-secondary.hidden {
  display: none;
}
.fl-lightbox .siteorigin-widget-form .button.button-small {
  height: 23px;
  line-height: 22px;
  padding: 0 8px 1px;
  font-size: 11px;
}
