.sow-cta-base {
  zoom: 1;
  border: 1px solid ;
  padding: 2em 2.5em;
}
.sow-cta-base:before {
  content: '';
  display: block;
}
.sow-cta-base:after {
  content: '';
  display: table;
  clear: both;
}
.sow-cta-base .sow-cta-text h4,
.sow-cta-base .sow-cta-text h5,
.sow-cta-base .sow-cta-text p {
  margin: 0.4em 0;
}
.sow-cta-base .sow-cta-text h4 {
  margin-top: 0;
}
.sow-cta-base .sow-cta-text h5,
.sow-cta-base .sow-cta-text p {
  margin-bottom: 0;
  font-weight: normal;
}
@media screen and (max-width: 640px) {
  .sow-cta-base {
    text-align: center;
    padding: 1.75em;
  }
  .sow-cta-base .sow-cta-text {
    float: none;
  }
  .sow-cta-base .so-widget-sow-button {
    display: inline-block;
    float: none;
    margin-top: 2em !important;
    margin-left: 0!important;
  }
}
