@import "../less/mixins";

.siteorigin-widget-form-no-styles {
	display: none !important;
}

.siteorigin-widget-teaser {
	padding: 10px 12px;
	border: 1px solid #5fc133;
	background: #edfbe7;
	color: #394a3a;
	margin-bottom: 20px;

	.dashicons {
		float: right;
		margin: 1px 2px 6px 10px;
		cursor: pointer;
		font-size: 18px;
		width: 18px;
		height: 18px;
	}
}

.siteorigin-widget-form-notification {
	padding: 8px 12px;
	border: 1px solid #a4cadd;
	background-color: #CDE2EC;
	margin-bottom: 20px;

	> span {
		line-height: 22px;
	}

	> a.button.button-small {
		margin-left: 10px;
		height: 22px;
	}
}

.siteorigin-widget-form {

	> div:first-child {
		margin-top: 0;
	}

	a {
		box-shadow: none;
	}

	display: block !important;
	margin: 15px 0;

	&.siteorigin-widget-form-main {
		min-width: 600px;
	}

	.siteorigin-widget-field {
		margin: 1em 0;

		> label {
			display: block;
			margin-bottom: 3px;

			&.siteorigin-widget-field-label {
				font-weight: bold;
			}

			&.so-checkbox-label {
				-webkit-user-select: none;
				-moz-user-select: none;
				-ms-user-select: none;
				user-select: none;
			}
		}

		.siteorigin-widget-description {
			font-size: 0.9em;
			margin-top: 0.2em;
			color: #999;
			font-style: italic;
		}

		&.siteorigin-widget-field-separator {
			margin: 1.75em 0;
		}

		&.siteorigin-widget-field-is-optional {
			.field-optional {
				font-weight: normal;
				font-size: 0.8em;
				vertical-align: super;
				padding-left: 0.5em;
				color: #54a242;
				font-style: italic;
			}
		}

		&.siteorigin-widget-field-is-required {
			.field-required {
				font-weight: normal;
				font-size: 0.8em;
				vertical-align: super;
				padding-left: 0.5em;
				color: #F02311;
				font-style: italic;
			}
		}

		input[type="text"] {
			width: 100%;
		}

		input.siteorigin-widget-input-color {
			width: auto;
		}

		textarea.siteorigin-widget-code-input {
			font-family: "Courier New", Courier, monospace;
		}

		select {
			min-width: 150px;

			&[multiple] {
				max-height: 83px;
			}
		}
	}

	.siteorigin-widget-field-type-slider {

		.siteorigin-widget-slider-wrapper {
			margin: 10px 0;
			border: 1px solid #E0E0E0;
			padding: 12px 15px;
			background: #F4F4F4;
			.rounded(4px);
			max-width: 500px;
			display: block;
			margin-left: 55px;

		}

		.siteorigin-widget-slider-value {
			display: block;
			float: left;
			margin-top: 0;
			border: 1px solid #E0E0E0;
			padding: 11px 0;
			background: #F4F4F4;
			font-weight: bold;
			color: #666;
			width: 45px;
			text-align: center;
		}

		.siteorigin-widget-value-slider {
			position: relative;
			height: 5px;
			background: #A0A0A0;
			.box-shadow(~"inset 0 1px 2px rgba(0,0,0,0.25)");
			.rounded(4px);
		}

		.ui-slider-handle {
			cursor: move;
			.box-sizing(border-box);
			border: 1px solid #a4a3a8;
			z-index: 10;
			position: absolute;
			width: 18px;
			height: 18px;
			margin-top: -7px;
			margin-left: -9px;
			background: #F9F9F9;
			.rounded(10px);
			top: 0;
			left: 0;
			.box-shadow(~"inset 0 1px 0 #FFFFFF, 0 1px 1px rgba(0,0,0,0.1)");
		}

		input[type="number"] {
			display: none;
		}

	}

	.siteorigin-widget-field-repeater {

		.siteorigin-widget-field-repeater-top {
			background: #F0F0F0;
			border: 1px solid #D0D0D0;
			padding: 10px;
			position: relative;

			h3 {
				font-size: 13px;
				margin: 0;
				padding: 0 !important;
			}
		}

		.siteorigin-widget-field-expand,
		.siteorigin-widget-field-copy,
		.siteorigin-widget-field-remove {
			width: 14px;
			height: 14px;
			position: absolute;
			top: 50%;
			margin-top: -7px;
			cursor: pointer;
			font-size: 14px;
			line-height: 14px;
			text-align: center;

			&:before {
				font-family: dashicons;
				vertical-align: middle;
				color: #999999;
			}

		}

		.siteorigin-widget-field-expand {
			right: 48px;

			&:before {
				content: "\f140";
			}

			&:hover {
				//background: #989fa5;

				&:before {
					color: #50575D;
				}
			}
		}

		.siteorigin-widget-field-copy {
			right: 28px;

			&:before {
				content: "\f105";
			}

			&:hover {
				//background: #989fa5;

				&:before {
					color: #50575D;
				}
			}
		}

		.siteorigin-widget-field-remove {
			right: 12px;

			&:before {
				content: '\f158';
			}

			&:hover {
				background: #ff0000;

				&:before {
					color: #FFFFFF;
				}
			}
		}

		.siteorigin-widget-field-repeater-items {
			background: #FCFCFC;
			border: 1px solid #EEEEEE;
			border-top: 0;
			border-bottom: 0;

			.siteorigin-widget-field-repeater-item {
				background: #FCFCFC;
				border-bottom: 1px solid #EEEEEE;

				.siteorigin-widget-field-repeater-item-top {
					padding: 10px;
					cursor: move;
					position: relative;
					background: #F6F6F6;

					h4 {
						font-size: 12px;
						margin: 0;
					}

				}

				h4 {
					font-size: 15px;
					margin: 0;
				}

				&:last-child {
					border-bottom: 0;
				}

				.siteorigin-widget-field-repeater-item-form {
					border-top: 1px solid #EEEEEE;
					display: none;
					padding: 1px 10px;
				}
			}
		}

		.siteorigin-widget-field-repeater-add {
			padding: 7px 10px;
			background: #F0F0F0;
			border: 1px dashed #D0D0D0;
			font-size: 12px;
			line-height: 1em;
			text-align: center;
			cursor: pointer;

			&:hover {
				background: #F4F4F4;
			}
		}

		/* This is for sub level forms */

		.siteorigin-widget-field-repeater {

			.siteorigin-widget-field-repeater-top {
				background: #eaf2f6;
				border-color: #c9d0d4;

				h3 {
					color: #42484b;
				}
			}

			.siteorigin-widget-field-repeater-items {
				background: #f6fdff;
				border-color: #e8eff3;

				.siteorigin-widget-field-repeater-item {
					background: #f8fdff;
					border-bottom-color: #e8eff3;

					.siteorigin-widget-field-repeater-item-top {
						background: #f0f8fc;
					}

					.siteorigin-widget-field-repeater-item-form {
						border-top-color: #e8eff3;
					}
				}
			}

			.siteorigin-widget-field-repeater-add {
				background: #eaf2f6;
				border-color: #c9d0d4;
				color: #42484b;

				&:hover {
					background: #edf5f9;
				}
			}

		}
	}

	.siteorigin-widget-field-type-posts {
		.posts-container-label-wrapper {
			background: #F0F0F0;
			border: 1px solid #D0D0D0;
			padding: 10px;
			display: block;
			margin-bottom: 0;

			> label {
				display: inline;
			}

			&:before {
				float: left;
				margin: 3px 6px 0 0;
				display: block;
				width: 14px;
				height: 14px;
				font-size: 14px;
				line-height: 1;
				font-family: "dashicons";
				content:"\f132";
			}

			&.siteorigin-widget-section-visible {
				&:before {
					content:"\f460";
				}
			}

			span.sow-current-count {
				display: inline-block;
				border-radius: 9px;
				background: #f92700;
				border: 1px solid #da0900;
				line-height: 14px;
				font-size: 7px;
				width: 17px;
				height: 17px;
				text-align: center;
				vertical-align: middle;
				font-weight: bold;
				color: #FFFFFF;
				box-sizing: border-box;
				margin: 1px 5px;
			}

		}
	}

	.siteorigin-widget-field-type-widget,
	.siteorigin-widget-field-type-section {

		> label {
			background: #F0F0F0;
			border: 1px solid #D0D0D0;
			padding: 10px;
			display: block;
			margin-bottom: 0;

			&:before {
				float: left;
				margin: 3px 6px 0 0;
				display: block;
				width: 14px;
				height: 14px;
				font-size: 14px;
				line-height: 1;
				font-family: "dashicons";
				content:"\f132";
			}

			&.siteorigin-widget-section-visible {
				&:before {
					content:"\f460";
				}
			}
		}
	}

	.siteorigin-widget-field-type-posts,
	.siteorigin-widget-field-type-widget,
	.siteorigin-widget-field-type-section {
		.siteorigin-widget-section {
			padding: 1px 10px;
			background: #FCFCFC;
			border: 1px solid #EEEEEE;
			border-top: 0;

			&.siteorigin-widget-section-hide {
				display: none;
			}
		}
	}

	.siteorigin-widget-field-type-autocomplete,
	.siteorigin-widget-field-type-link {

		position: relative;

		.existing-content-selector {
			padding: 20px;
			display: none;
			position: absolute;
			top: 110%;
			width: 360px;
			z-index: 10;
			border: 1px solid #c0c0c0;
			background: #F6F6F6;
			.box-shadow(~"0 2px 4px rgba(0,0,0,0.2)");
			.rounded(3px);

			.content-text-search {
				width: 100%;
				margin-bottom: 15px;
			}

			.items, .posts {
				margin: 0;
				padding: 0;
				background: #fff;
				max-height: 300px;
				overflow-y: scroll;
				border: 1px solid #e4e4e4;

				li {
					cursor: pointer;
					padding: 5px 10px;
					color: #32373c;
					border-bottom: 1px solid #f1f1f1;
					margin: 0;
					font-size: 0.95em;

					&.selected {
						background: #e1edfa;
					}

					&:hover {
						background: #eaf2fa;
					}

					&:last-child {
						border-bottom: 0;
					}

					span {
						font-size: 0.9em;
						display: inline-block;
						float: right;
						color: #999;
						margin-left: 10px;
					}
				}

				&.loading {
					min-height: 40px;
					background: #FFFFFF url("img/wpspin_light.gif") center center no-repeat;

					@media  (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
						& {
							background-image: url("img/wpspin_light-2x.gif");
							background-size: 16px 16px;
						}
					}

					li {
						display: none;
					}
				}
			}

			.buttons {
				margin-top: 15px;
				text-align: right;

				a {
					display: inline-block;
				}
			}
		}

		.url-input-wrapper {
			display: block;
			margin-right: 130px;
		}

		.select-content-button {
			float: right;
			width: 120px;
			text-align: center;
		}

	}

	.siteorigin-widget-field-type-link {
		.existing-content-selector {
			right: 0;
		}
	}

	.siteorigin-widget-description {
		clear: both;
	}
}

.siteorigin-widget-preview {
	display: block !important;
}

.siteorigin-widget-help-link {
	display: block;
	margin: 1em 0;
}


.so-widgets-dialog {

	@edge_spacing: 30px;
	@border_color: #D8D8D8;

	.so-widgets-dialog-overlay {
		position: fixed;
		z-index: 500000;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: rgba(0,0,0,0.7);
	}

	.so-widgets-toolbar,
	.so-widgets-dialog-frame {
		position: fixed;
		z-index: 500001;
		.box-sizing(border-box);
	}

	.so-widgets-toolbar {
		left: @edge_spacing;
		right: @edge_spacing;
		top: @edge_spacing;
		height: 50px;
		background: #fafafa;
		border-bottom: 1px solid @border_color;

		h3 {
			margin: 15px 0 15px 20px;
		}

		.close {
			position: absolute;
			box-sizing: border-box;
			width: 50px;
			height: 50px;
			display: block;
			cursor: pointer;

			top: 0;
			right: 0;

			.transition(0.2s);
			background: #fafafa;
			border-left: 1px solid #d8d8d8;
			border-bottom: 1px solid #d8d8d8;

			&:hover {
				background: #e9e9e9;
				.so-dialog-icon {
					color: #333333;
				}
			}

			.dashicons {
				position: absolute;
				top: 50%;
				left: 50%;
				text-decoration: none;
				width: 21px;
				height: 21px;
				margin-left: -11px;
				margin-top: -10px;
				font-size: 21px;
				text-align: center;
				color: #666666;
				text-align: center;
			}
		}
	}

	.so-widgets-dialog-frame {
		top: @edge_spacing + 50px;
		left: @edge_spacing;
		right: @edge_spacing;
		bottom: @edge_spacing;
		background: #FFFFFF url("img/wpspin_light.gif") center center no-repeat;

		@media  (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
			& {
				background-image: url("img/wpspin_light-2x.gif");
				background-size: 16px 16px;
			}
		}

		iframe {
			width: 100%;
			height: 100%;
		}
	}

}

/* Icons */
.widget-icon.so-widget-icon {
	background-size: cover;
	background-image: url("img/bundle-icon.png");

	&.so-gutenberg-icon {
		width: 20px;
		height: 20px;
		display: inline-block;
	}
}

// Gutenberg compatibility styles
.gutenberg__editor {
	
	.so-widget-placeholder {
		
		// WB icon for placeholder.
		& > .components-placeholder__label {
			background: url("img/bundle-icon.png") no-repeat left;
			background-size: 20px;
			padding-left: 25px;
		}
		
		& > .components-placeholder__fieldset {
			max-width: unset;
			
			.so-widget-gutenberg-container {
				width: 100%;
				
				.siteorigin-widget-form.siteorigin-widget-form-main {
					min-width: unset;
				}
			}
		}
	}

	.siteorigin-widget-form {
		.siteorigin-widget-field {
			text-align: left;

			input {
				padding: 3px 5px;
			}

			&.siteorigin-widget-field-type-autocomplete, &.siteorigin-widget-field-type-link {
				.select-content-button {
					box-shadow: unset;
					font-size: 13px;
					height: 28px;
				}
			}

			&.siteorigin-widget-field-type-icon .siteorigin-widget-icon-selector-current {
				height: 37px;
			}

			&.siteorigin-widget-field-type-tinymce .wp-switch-editor {
				box-sizing: content-box;
			}
		}
	}

	.so-widget-gutenberg-preview-container {
		.so-widgets-spinner-container {
			text-align: center;
			> span {
				display: inline-block;
			}
		}
	}
}
