.sow-select-posts {
  margin-top: 6px;
  position: relative;
}
.sow-select-posts .sow-current-count {
  position: absolute;
  top: -10px;
  right: -10px;
  border-radius: 9px;
  background: #f92700;
  border: 1px solid #da0900;
  display: block;
  line-height: 14px;
  font-size: 7px;
  width: 17px;
  height: 17px;
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
  color: #FFFFFF;
  box-sizing: border-box;
  padding-top: 1px;
}
