.sow-testimonials {
  margin: -10px;
  zoom: 1;
}
.sow-testimonials:before {
  content: '';
  display: block;
}
.sow-testimonials:after {
  content: '';
  display: table;
  clear: both;
}
.sow-testimonials * {
  box-sizing: border-box;
}
.sow-testimonials .sow-testimonial-wrapper {
  float: left;
  padding: 10px;
}
.sow-testimonials .sow-testimonial-user {
  position: relative;
}
.sow-testimonials .sow-testimonial-user .sow-round-image-frame {
  background-size: cover;
  display: inline-block;
}
.sow-testimonials .sow-testimonial-user .sow-image-wrapper {
  display: block;
}
.sow-testimonials .sow-testimonial-user .sow-text strong {
  display: block;
}
.sow-testimonials .sow-testimonial-user .sow-caret {
  position: absolute;
  height: 24px;
  width: 14px;
  top: 20px;
  right: -3px;
  fill: #f0f0f0;
}
.sow-testimonials .sow-testimonial-text > *:first-child {
  margin-top: 0;
}
.sow-testimonials .sow-testimonial-text > *:last-child {
  margin-bottom: 0;
}
.sow-testimonials .sow-user-left .sow-testimonial-user {
  text-align: left;
}
.sow-testimonials .sow-user-right .sow-testimonial-user {
  text-align: right;
}
.sow-testimonials .sow-user-middle .sow-testimonial-user {
  text-align: center;
}
