.elementor-panel #elementor-panel-page-editor .elementor-control-content .siteorigin-widget-form {
	min-width: inherit;

	a {
		border-bottom: none;
	}

	.wp-picker-container {
		float: none;

		&.wp-picker-active {
			transform: none;
			float: none;
			position: relative;
			padding: 0;
			border: none;
			background: none;

			.wp-color-result {
				float: left;
				margin: 0;
			}

			.wp-picker-input-wrap {
				padding: 0;
				float: left;

				.siteorigin-widget-input-color,
				.button.wp-picker-default {
					font-size: 12px;
					height: 32px;
				}

				.button.wp-picker-default {
					float: right;
					width: auto;
				}
			}

			.wp-picker-holder:before {
				clear: both;
				content: "";
				display: table;
			}

			.iris-picker.iris-border {
				background: none;
				.iris-picker-inner {
					left: 0;
					right: 0;
				}
			}

			.wp-picker-clear {
				height: 28px;
			}
		}
	}

	.siteorigin-widget-field {
		&.siteorigin-widget-field-type-autocomplete,
		&.siteorigin-widget-field-type-link {
			.existing-content-selector {
				width: inherit;
			}
		}

		& .siteorigin-widget-input-color {
			width: 120px;
			margin: 0 3px;
		}

		.ui-draggable-handle {
			transition: none;
		}

		&.siteorigin-widget-field-type-icon {
			.siteorigin-widget-icon-selector {
				.siteorigin-widget-icon-search {
					box-shadow: inset 0 1px 2px rgba(0,0,0,.07);
					background-color: #fff;
					color: #32373c;
					width: 100%;

					&::placeholder,
					&::-webkit-input-placeholder {
						color: #32373c;
					}
				}
			}

			.siteorigin-widget-icon-icons-icon {
				color: #444;
			}
		}

		&.siteorigin-widget-field-type-measurement {
			.siteorigin-widget-input-measurement, .sow-measurement-select-unit {
				max-width: inherit;
				height: 28px;
				margin: 0;
			}

			.siteorigin-widget-input-measurement {
				width: 100%;
				max-width: 58px;
				margin-right: 1px;
			}

			.sow-measurement-select-unit {
				min-width: inherit;
				width: 32%;
				margin-left: 1px;
				max-width: 73px;
			}
		}

		&.siteorigin-widget-field-type-posts {

			select[multiple] {
				height: inherit;
			}

			.siteorigin-widget-field-type-date-range > div input[type="text"].datepicker {
				width: 100%;
			}
		}

		.siteorigin-widget-field-type-slider input[type="number"] {
			display: none !important;
		}

		.clear {
			clear: both;
		}

		&.siteorigin-widget-field-type-media {
			.media-fallback-external {
				margin-top: 4px !important;
				margin-left: 15px !important;
				max-width: 220px;
			}
		}

		.siteorigin-widget-input[type="text"] {
			height: 30px;
		}

		.siteorigin-widget-input[type="checkbox"] {
			display: inline-block;
			vertical-align: middle;
		}

		.siteorigin-widget-description {
			color: inherit;
		}
	}

	.siteorigin-widget-field-type-section {
		color: #000;
	}

	.button.wp-color-result {
		font-size: 12px;
		height: 32px;
		padding: 0 0 0 30px;
	}

	.button.button-small {
		height: 25px;
		line-height: 30px;
		padding: 0 8px;
		font-size: 11px;
	}

	select,
	input[type=text] {
		margin: 1px;
		border-radius: 0;
		font-weight: inherit;
		border: 1px solid #ddd;
		box-shadow: inset 0 1px 2px rgba(0,0,0,.07);
		background-color: #fff;
		color: #32373c;
		outline: 0;
		transition: 50ms border-color ease-in-out;

		max-width: 100%;
	}

	select[multiple] {
		min-height: 83px;
	}

	input[type="text"].datepicker {
		width: auto;
		max-width: 100%;
	}

	.ui-autocomplete {
		padding: 0;
		margin: 0;
		list-style: none;
		position: absolute;
		z-index: 10000;
		border: 1px solid #5b9dd9;
		box-shadow: 0 1px 2px rgba(30,140,190,.8);
		background-color: #fff;

		li {
			margin-bottom: 0;
			padding: 4px 10px;
			white-space: nowrap;
			text-align: left;

			&.ui-state-focus {
				background-color: #ddd;
				cursor: pointer;
			}
		}
	}

	.media-toolbar-primary {
		margin-top: 15px;
	}

	.query-builder-content .query-builder-form-field small {
		margin-top: 5px;
	}

}

.elementor-panel #elementor-panel-page-editor .elementor-control-content .siteorigin-widget-form,
#so-widgets-image-search-frame {
	/* Button styles copied from wp-core for default UI look. */
	.button, .button-secondary {
		display: inline-block;
		text-decoration: none;
		font-size: 13px;
		line-height: 28px;
		height: 28px;
		margin: 0;
		padding: 0 10px 1px;
		cursor: pointer;
		border: 1px solid #cccccc;
		border-radius: 3px;
		white-space: nowrap;
		box-sizing: border-box;

		font-family: inherit;
		font-weight: normal;
		text-transform: capitalize;
		color: #555;
		background: #f7f7f7;

		&:hover,
		&:focus {
			background: #fafafa;
			border-color: #999;
			color: #23282d;
		}

		&:active,
		&:focus {
			outline: none;
		}

		&.hidden {
			display: none;
		}
	}

	.button-primary {
		background: #007cba;
		border-color: #007cba;
		color: #fff;
		text-decoration: none;
		text-shadow: none;
	}

}

#so-widgets-image-search-frame {
	.so-widgets-search-input {
		background: #fff;
		color: #32373c;
		border: 1px solid #7e8993;
		line-height: 1;
		min-height: 47px;
		font-size: 14px;
	}

	.so-widgets-image-search-powered {
		font-size: 11px;
	}

	a {
		color: #0073aa;
		text-decoration: underline;

		&:active,
		&:hover {
			color: #006799;
		}
	}

	.so-widgets-results-loading {
		color: #444;
	}
}

.so-widgets-dialog .so-widgets-toolbar h3 {
	color: #23282d;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	font-size: 16.9px;
	font-weight: 600;
	margin: 15px 0 15px 20px;
}
