@color: #000000;
@size: 12px;
@has_size: false;

#sow-icon-container.sow-icon span,
#sow-icon-container.sow-icon a span {

	color: @color;

	.fontsize() when (@has_size = true) {
		font-size: @size;
	}
	.fontsize();
}
