.ow-button-base a {
  font-size: 1em;
  padding: 1em 2em;
  background: #41a9d5;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #298fba), color-stop(1, #41a9d5));
  background: -ms-linear-gradient(bottom, #298fba, #41a9d5);
  background: -moz-linear-gradient(center bottom, #298fba 0%, #41a9d5 100%);
  background: -o-linear-gradient(#41a9d5, #298fba);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#41a9d5', endColorstr='#298fba', GradientType=0);
  border: 1px solid;
  border-color: #2685ad #247fa5 #227598 #247fa5;
  color: #ffffff !important;
  -webkit-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  border-radius: 0.25em;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.065);
  -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.065);
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.2), 0 1px 2px rgba(0,0,0,0.065);
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
}
.ow-button-base a .sow-icon-image,
.ow-button-base a [class^="sow-icon-"] {
  margin: -0.1em 0.75em -0.2em -0.75em;
}
.ow-button-base a:visited,
.ow-button-base a:active,
.ow-button-base a:hover {
  color: #ffffff !important;
}
.ow-button-base a.ow-button-hover:hover {
  background: #49add7;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #2b95c2), color-stop(1, #49add7));
  background: -ms-linear-gradient(bottom, #2b95c2, #49add7);
  background: -moz-linear-gradient(center bottom, #2b95c2 0%, #49add7 100%);
  background: -o-linear-gradient(#49add7, #2b95c2);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#49add7', endColorstr='#2b95c2', GradientType=0);
  border-color: #288cb6 #2685ad #247ca1 #2685ad;
  color: #ffffff;
}
