.sow-image-grid-wrapper {
  text-align: center;
}
.sow-image-grid-wrapper .sow-image-grid-image {
  display: inline-block;
}
.sow-image-grid-wrapper .sow-image-grid-image img {
  display: none;
  max-width: 100%;
  height: auto;
}
