@font-face {
  font-family: 'carousel-arrows';
  src: url('fonts/carousel-arrows.eot?-95vnmw');
  src: url('fonts/carousel-arrows.eot?#iefix-95vnmw') format('embedded-opentype'), url('fonts/carousel-arrows.woff?-95vnmw') format('woff'), url('fonts/carousel-arrows.ttf?-95vnmw') format('truetype'), url('fonts/carousel-arrows.svg?-95vnmw#carousel-arrows') format('svg');
  font-weight: normal;
  font-style: normal;
}
.sow-carousel-title .widget-title {
  display: inline-block;
  padding-right: 15px;
}
.sow-carousel-title a.sow-carousel-next,
.sow-carousel-title a.sow-carousel-previous {
  font-family: 'carousel-arrows';
  speak: none;
  display: block;
  float: right;
  overflow: hidden;
  margin-left: 2px;
  margin-top: 3px;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  font-size: 8px;
  line-height: 18px;
  width: 18px;
  text-align: center;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration: none;
  color: #FFFFFF;
  background: #333333;
  border-radius: 2px;
}
.sow-carousel-title a.sow-carousel-next:hover,
.sow-carousel-title a.sow-carousel-previous:hover {
  background: #444444;
}
.sow-carousel-title a.sow-carousel-next:before {
  content: "\e601";
}
.sow-carousel-title a.sow-carousel-previous:before {
  content: "\e600";
}
@media screen and (max-width: 600px) {
  .sow-carousel-title a.sow-carousel-previous {
    display: none;
  }
  .sow-carousel-title a.sow-carousel-next {
    display: none;
  }
}
.widget_sow-carousel {
  overflow-x: hidden;
  overflow-y: hidden;
}
.sow-carousel-wrapper {
  overflow: hidden;
  position: relative;
  left: 0;
  right: 0;
}
.sow-carousel-wrapper ul.sow-carousel-items {
  list-style: none;
  -webkit-transition: all 0.45s ease;
  -moz-transition: all 0.45s ease;
  -o-transition: all 0.45s ease;
  transition: all 0.45s ease;
  height: 200px;
  margin: 0;
  padding: 0;
  zoom: 1;
  width: 99999px;
}
.sow-carousel-wrapper ul.sow-carousel-items:before {
  content: '';
  display: block;
}
.sow-carousel-wrapper ul.sow-carousel-items:after {
  content: '';
  display: table;
  clear: both;
}
.sow-carousel-wrapper ul.sow-carousel-items li.sow-carousel-item {
  list-style: none;
  margin-left: 0;
  padding: 0;
  display: block;
  float: left;
  margin-right: 15px;
  overflow-x: hidden;
  overflow-y: hidden;
}
.sow-carousel-wrapper ul.sow-carousel-items li.sow-carousel-item:last-child {
  margin-right: 0;
}
.sow-carousel-wrapper ul.sow-carousel-items li.sow-carousel-item.rtl {
  float: right;
}
.sow-carousel-wrapper ul.sow-carousel-items li.sow-carousel-item.rtl:last-child {
  margin-right: 15px;
}
.sow-carousel-wrapper ul.sow-carousel-items li.sow-carousel-item .sow-carousel-thumbnail {
  line-height: 0;
}
.sow-carousel-wrapper ul.sow-carousel-items li.sow-carousel-item .sow-carousel-thumbnail a {
  display: block;
  background-position: center center;
}
.sow-carousel-wrapper ul.sow-carousel-items li.sow-carousel-item .sow-carousel-thumbnail a,
.sow-carousel-wrapper ul.sow-carousel-items li.sow-carousel-item .sow-carousel-thumbnail a span.overlay {
  -webkit-transition: all 0.35s ease;
  -moz-transition: all 0.35s ease;
  -o-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.sow-carousel-wrapper ul.sow-carousel-items li.sow-carousel-item .sow-carousel-thumbnail a span.overlay {
  display: block;
  width: 100%;
  height: 100%;
  background: #3279BB;
  opacity: 0;
}
.sow-carousel-wrapper ul.sow-carousel-items li.sow-carousel-item .sow-carousel-thumbnail a:hover span {
  opacity: 0.5;
}
.sow-carousel-wrapper ul.sow-carousel-items li.sow-carousel-item .sow-carousel-default-thumbnail {
  display: block;
  background: #E8E8E8;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #E0E0E0), color-stop(1, #E8E8E8));
  background: -ms-linear-gradient(bottom, #E0E0E0, #E8E8E8);
  background: -moz-linear-gradient(center bottom, #E0E0E0 0%, #E8E8E8 100%);
  background: -o-linear-gradient(#E8E8E8, #E0E0E0);
}
.sow-carousel-wrapper ul.sow-carousel-items li.sow-carousel-item h3 {
  font-size: 15px;
  text-align: center;
  font-weight: 500;
  color: #474747;
  margin: 10px 0 0 0;
}
.sow-carousel-wrapper ul.sow-carousel-items li.sow-carousel-item h3 a {
  text-decoration: none;
  color: inherit;
}
.sow-carousel-wrapper ul.sow-carousel-items li.sow-carousel-loading {
  display: block;
  float: left;
  background: url(images/carousel-loader.gif) #F6F6F6 center center no-repeat;
  margin: 0;
}
a.sow-carousel-previous {
  display: none;
}
a.sow-carousel-next {
  display: none;
}
