.so-masonry-container {
  margin: 0 auto 0 auto;
  width: 100%;
  zoom: 1;
}
.so-masonry-container:before {
  content: '';
  display: block;
}
.so-masonry-container:after {
  content: '';
  display: table;
  clear: both;
}
.so-masonry-container .masonry-brick {
  float: left;
  width: auto;
  overflow: hidden;
  position: relative;
  margin: 0;
  background: #2f3033;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #2f3033), color-stop(1, #252628));
  background: -ms-linear-gradient(bottom, #2f3033, #252628);
  background: -moz-linear-gradient(center bottom, #2f3033 0%, #252628 100%);
  background: -o-linear-gradient(#252628, #2f3033);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#252628', endColorstr='#2f3033', GradientType=0);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.6);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.6);
}
.so-masonry-container .masonry-brick .thumbnail-link {
  display: block;
  line-height: 0;
}
.so-masonry-container .masonry-brick img.wp-post-image {
  width: 100%;
  height: 100%;
  display: block;
  border-radius: 0;
  box-shadow: none;
}
.so-masonry-container .masonry-brick.size-11,
.so-masonry-container .masonry-brick.size-12 {
  width: 25%;
}
.so-masonry-container .masonry-brick.size-21,
.so-masonry-container .masonry-brick.size-22 {
  width: 50%;
}
.so-masonry-container .masonry-brick .splitter {
  position: absolute;
  z-index: 10;
  width: 100%;
  overflow: hidden;
}
.so-masonry-container .masonry-brick .splitter img {
  position: absolute;
  left: 0;
  width: 100%;
  height: auto;
  border-radius: 0;
  box-shadow: none;
}
.so-masonry-container .masonry-brick .splitter.top {
  /* Fixes a graphics glitch */
  border-bottom: 1px solid transparent;
}
.so-masonry-container .masonry-brick .splitter.top .decoration {
  bottom: 0px;
}
.so-masonry-container .masonry-brick .splitter.top img {
  top: 0;
}
.so-masonry-container .masonry-brick .splitter.bottom {
  border-top: 1px solid transparent;
}
.so-masonry-container .masonry-brick .splitter.bottom .decoration {
  top: 0px;
}
.so-masonry-container .masonry-brick .splitter.bottom img {
  bottom: 0;
}
.so-masonry-container .masonry-brick .post-information {
  display: none;
  top: 50%;
  margin-top: -1em;
  left: 0;
  width: 100%;
  text-align: center;
  position: absolute;
  text-decoration: none !important;
  z-index: 9;
  padding: 0px 10px;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.so-masonry-container .masonry-brick .post-information a {
  color: inherit;
  text-decoration: none;
}
.so-masonry-container .masonry-brick .post-information h2 {
  color: #FFFFFF;
  font-weight: 500;
  font-size: 22px;
  margin-bottom: 5px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
  line-height: 1.4em;
}
.so-masonry-container .masonry-brick .post-information .entry-meta {
  font-size: 12px;
  font-style: italic;
  color: #CCCCCC;
}
.so-masonry-container .masonry-brick.no-thumbnail .post-information,
.so-masonry-container .masonry-brick.loading .post-information {
  display: block;
}
@media only screen and (max-width: 680px) {
  .so-masonry-container.responsive .post-information h2 {
    font-size: 18px;
  }
  .so-masonry-container.responsive .post-information .entry-meta {
    font-size: 11px;
  }
  .so-masonry-container.responsive .masonry-brick.size-11,
  .so-masonry-container.responsive .masonry-brick.size-12 {
    width: 50%;
  }
  .so-masonry-container.responsive .masonry-brick.size-21,
  .so-masonry-container.responsive .masonry-brick.size-22 {
    width: 100%;
  }
}
@media only screen and (max-width: 480px) {
  .so-masonry-container.responsive .post-information h2 {
    font-size: 16px;
  }
  .so-masonry-container.responsive .masonry-brick.size-11,
  .so-masonry-container.responsive .masonry-brick.size-12,
  .so-masonry-container.responsive .masonry-brick.size-21,
  .so-masonry-container.responsive .masonry-brick.size-22 {
    width: 100%;
  }
}
