@import "../../../less/mixins";

.siteorigin-widget-form .siteorigin-widget-field-type-icon {

	.siteorigin-widget-icon-selector-current {
		display: inline-block;
		.gradient( #f9f9f9, #f2f2f2, #f9f9f9 );
		.box-shadow(~"0 1px 2px rgba(0,0,0,0.1)");
		.rounded(3px);
		vertical-align: middle;

		border: 1px solid #bbbbbb;
		height: 35px;

		&:hover {
			.gradient( #ffffff, #f7f7f7, #ffffff );
			.box-shadow(~"0 1px 2px rgba(0,0,0,0.15)");
		}

		.siteorigin-widget-icon {
			.box-sizing(border-box);
			float: left;
			margin: 4px;
			padding: 3px;
			border: 1px solid #999;
			background: #f3f3f3;
			height: 27px;
			width: 32px;
			text-align: center;

			span {
				color: #333;
				font-size: 20px;
			}
		}

		label {
			display: block;
			float: left;
			color: #666;
			text-decoration: none;
			text-shadow: 0 1px 0 #FFF;
			font-weight: 600;
			font-size: 11px;
			padding: 9px 10px 7px 7px;
			outline: none;
			cursor: pointer;
		}
	}

	.so-icon-remove {
		cursor: pointer;

		display: inline-block;
		text-decoration: none;
		color: #AAA;
		font-size: 11px;
		line-height: 1em;
		padding: 11px 0 11px 6px;
	}

	&.siteorigin-widget-active {
		.so-icon-remove {
			display: none;
		}
	}

	.siteorigin-widget-icon-selector {
		display: none;
		padding: 10px;
		border: 1px solid #D8D8D8;
		background: #FFFFFF;
		.box-shadow(~"0 1px 2px rgba(0,0,0,0.0275)");
		margin-top: 10px;

		select.siteorigin-widget-icon-family {
			font-size: 11px;
			display: inline-block;
		}

		.siteorigin-widget-icon-search {
			font-size: 11px;
			display: inline-block;
			width: 260px;
			padding: 6px 8px;
		}

		.siteorigin-widget-icon-icons {
			height: 160px;
			overflow-y: scroll;
			margin-top: 10px;

			.siteorigin-widget-icon-icons-icon {
				.box-sizing(border-box);
				float: left;

				width: 58px;
				height: 48px;
				margin: 3px;
				padding: 4px 0;
				border:1px solid #D0D0D0;
				background: #FFFFFF;

				font-size: 40px;
				overflow: hidden;

				cursor: pointer;
				text-align: center;

				&.siteorigin-widget-active {
					background: #f6fafc;
					border: 1px solid #43aaec;
					color: #078dce;
					.box-shadow(~"0 1px 2px rgba(0,0,0,0.25)");
				}
			}

		}
	}
}
