.siteorigin-widget-form .siteorigin-widget-field-type-icon .siteorigin-widget-icon-selector-current {
  display: inline-block;
  background: #f9f9f9;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #f2f2f2), color-stop(1, #f9f9f9));
  background: -ms-linear-gradient(bottom, #f2f2f2, #f9f9f9);
  background: -moz-linear-gradient(center bottom, #f2f2f2 0%, #f9f9f9 100%);
  background: -o-linear-gradient(#f9f9f9, #f2f2f2);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9f9f9', endColorstr='#f2f2f2', GradientType=0);
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.1);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: 0 1px 2px rgba(0,0,0,0.1);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  vertical-align: middle;
  border: 1px solid #bbbbbb;
  height: 35px;
}
.siteorigin-widget-form .siteorigin-widget-field-type-icon .siteorigin-widget-icon-selector-current:hover {
  background: #ffffff;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #f7f7f7), color-stop(1, #ffffff));
  background: -ms-linear-gradient(bottom, #f7f7f7, #ffffff);
  background: -moz-linear-gradient(center bottom, #f7f7f7 0%, #ffffff 100%);
  background: -o-linear-gradient(#ffffff, #f7f7f7);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f7f7f7', GradientType=0);
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  box-shadow: 0 1px 2px rgba(0,0,0,0.15);
}
.siteorigin-widget-form .siteorigin-widget-field-type-icon .siteorigin-widget-icon-selector-current .siteorigin-widget-icon {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  margin: 4px;
  padding: 3px;
  border: 1px solid #999;
  background: #f3f3f3;
  height: 27px;
  width: 32px;
  text-align: center;
}
.siteorigin-widget-form .siteorigin-widget-field-type-icon .siteorigin-widget-icon-selector-current .siteorigin-widget-icon span {
  color: #333;
  font-size: 20px;
}
.siteorigin-widget-form .siteorigin-widget-field-type-icon .siteorigin-widget-icon-selector-current label {
  display: block;
  float: left;
  color: #666;
  text-decoration: none;
  text-shadow: 0 1px 0 #FFF;
  font-weight: 600;
  font-size: 11px;
  padding: 9px 10px 7px 7px;
  outline: none;
  cursor: pointer;
}
.siteorigin-widget-form .siteorigin-widget-field-type-icon .so-icon-remove {
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  color: #AAA;
  font-size: 11px;
  line-height: 1em;
  padding: 11px 0 11px 6px;
}
.siteorigin-widget-form .siteorigin-widget-field-type-icon.siteorigin-widget-active .so-icon-remove {
  display: none;
}
.siteorigin-widget-form .siteorigin-widget-field-type-icon .siteorigin-widget-icon-selector {
  display: none;
  padding: 10px;
  border: 1px solid #D8D8D8;
  background: #FFFFFF;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.0275);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.0275);
  box-shadow: 0 1px 2px rgba(0,0,0,0.0275);
  margin-top: 10px;
}
.siteorigin-widget-form .siteorigin-widget-field-type-icon .siteorigin-widget-icon-selector select.siteorigin-widget-icon-family {
  font-size: 11px;
  display: inline-block;
}
.siteorigin-widget-form .siteorigin-widget-field-type-icon .siteorigin-widget-icon-selector .siteorigin-widget-icon-search {
  font-size: 11px;
  display: inline-block;
  width: 260px;
  padding: 6px 8px;
}
.siteorigin-widget-form .siteorigin-widget-field-type-icon .siteorigin-widget-icon-selector .siteorigin-widget-icon-icons {
  height: 160px;
  overflow-y: scroll;
  margin-top: 10px;
}
.siteorigin-widget-form .siteorigin-widget-field-type-icon .siteorigin-widget-icon-selector .siteorigin-widget-icon-icons .siteorigin-widget-icon-icons-icon {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  width: 58px;
  height: 48px;
  margin: 3px;
  padding: 4px 0;
  border: 1px solid #D0D0D0;
  background: #FFFFFF;
  font-size: 40px;
  overflow: hidden;
  cursor: pointer;
  text-align: center;
}
.siteorigin-widget-form .siteorigin-widget-field-type-icon .siteorigin-widget-icon-selector .siteorigin-widget-icon-icons .siteorigin-widget-icon-icons-icon.siteorigin-widget-active {
  background: #f6fafc;
  border: 1px solid #43aaec;
  color: #078dce;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.25);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.25);
  box-shadow: 0 1px 2px rgba(0,0,0,0.25);
}
