
.siteorigin-widget-form .siteorigin-widget-field-type-image-radio {
	
	.siteorigin-widget-image-radio-layout-horizontal {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		
		label:not(:first-child) {
			margin-left: 10px;
		}
	}
	label {
		display: flex;
		align-items: center;
		margin-bottom: 10px;
		
		
		img {
			max-width: 100px;
		}
		
		input {
			margin: 0px 4px 0px 10px;
		}
	}
}
