div.siteorigin-widget-form div.siteorigin-widget-field.siteorigin-widget-field {
	.sow-multi-measurement-container {
		display: flex;
		.sow-multi-measurement-input-container {
			&:not(:first-child) {
				margin-left: 15px;
			}

			> label {
				display: block;
				font-size: 12px;
			}

			input[type="text"].sow-multi-measurement-input {
				max-width: 58px;
				margin: 1px;
				height: 28px;
				vertical-align: middle;
			}

			select.sow-multi-measurement-select-unit {
				border: 1px solid #8c8f94;
				line-height: 2;
				min-width: inherit;
				padding: 0 24px 0 8px;
				-webkit-appearance: none;
				background: #fff url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20width%3D%2220%22%20height%3D%2220%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cpath%20d%3D%22M5%206l5%205%205-5%202%201-7%207-7-7%202-1z%22%20fill%3D%22%23555%22%2F%3E%3C%2Fsvg%3E') no-repeat right 5px top 55%;
				background-size: 16px 16px;
				border-radius: 3px;
				cursor: pointer;
				font-size: 14px;
				min-height: 30px;

				&:focus,
				&:hover {
					border-color: #2271b1;
				}
			}
		}
	}
}
