@column_width: 48.5%;
@responsive_breakpoint: 780px;

.sow-blog-layout-grid article {
	background: #fff;
	border-color: #e6e6e6;
	width: @column_width;

	@media (max-width: @responsive_breakpoint) {
		width: 100%;
	}

	.sow-entry-header {

		.sow-entry-title {
			font-size: 16px;

			a {
				color: #2d2d2d;

				&:hover,
				&:focus {
					color: #626262;
				}
			}
		}

		.sow-entry-meta {
			font-size: 13px;

			span {
				color: #929292;

				a {
					color: #929292;

					&:hover,
					&:focus {
						color: #626262;
					}
				}
			}
		}
	}

	.sow-entry-content {
		font-size: 14px;
	}
}
