@categories: default;
@column_width: 50%;
@responsive_breakpoint: 780px;

.sow-blog-layout-masonry article {
	width: @column_width;

	@media (max-width: @responsive_breakpoint) {
		width: 100%;
	}

	.sow-blog-content-wrapper {
		background: #fff;
		border: 1px solid #e6e6e6;
	}

	& when( @categories = 1 ) {

		.sow-entry-thumbnail {
			position: relative;

			.sow-thumbnail-meta {
				display: block;
				left: 10px;
				position: absolute;
				top: 10px;
				z-index: 1;

				ul {
					display: inline-block;
					list-style: none;
					margin: 0 5px 0 0;
					padding: 0;

					li {
						background: rgba(0,0,0,.8);
						color: #fff;
						display: inline-block;
						font-size: 11px;
						letter-spacing: 1px;
						margin: 0;
						padding: 5px 12px 6px;
						text-transform: uppercase;
						transition: 300ms opacity ease-in-out;

						&:hover,
						&:focus {
							opacity: 0.75;
						}
					}

					a {
						color: #fff;
						display: block;
						line-height: normal;
						text-decoration: none;
					}
				}
			}
		}
	}

	.sow-entry-header {

		.sow-entry-title {
			font-size: 16px;

			a {
				color: #2d2d2d;

				&:hover,
				&:focus {
					color: #626262;
				}
			}
		}

		.sow-entry-meta {
			font-size: 13px;

			span {
				color: #929292;

				a {
					color: #929292;

					&:hover,
					&:focus {
						color: #626262;
					}
				}
			}
		}
	}

	.sow-entry-content {
		font-size: 14px;
	}
}
