@categories: default;
@column_width: 31.83%;
@responsive_breakpoint: 780px;

.sow-blog-layout-portfolio {

	& when( @categories = 1 ) {

		.sow-portfolio-filter-terms {
			margin-bottom: 25px;

			button {
				background: 0 0;
				border: none;
				border-bottom: 2px solid transparent;
				color: #929292;
				font-size: 11.256px;
				font-weight: 600;
				line-height: normal;
				letter-spacing: 1px;
				margin-right: 34px;
				padding: 0 0 6px;
				text-transform: uppercase;
				transition: 300ms ease-in-out;

				&.active {
					background: 0 0;
					border-bottom: 2px solid #2d2d2d;
					color: #2d2d2d;
				}

				&:hover,
				&:focus {
					background: transparent;
					color: #2d2d2d;
				}
			}
		}
	}

	.sow-blog-columns {
		margin: 0 -1.5%;
	}

	article {
		padding: 0 1.5%;
		margin: 0 0 30px;
		width: @column_width;

		@media (max-width: @responsive_breakpoint) {
			width: 100%;
		}

		.sow-entry-thumbnail {

			&:hover .sow-entry-overlay {
				background-color: hsla(0,0%,100%,.9);
				border: 2px solid #929292;
			}

			.sow-entry-title {
				bottom: 60%;
				color: #2d2d2d;
				font-size: 15px;
				font-weight: 700;
				line-height: normal;
				margin: 0;
				position: absolute;
				text-align: center;
				width: 100%;
			}

			& when( @categories = 1 ) {

				.sow-entry-divider {
					border: 1px solid #2d2d2d;
					bottom: 55.5%;
					left: 50%;
					position: absolute;
					transform: translateX(-50%);
					width: 30px;
				}

				.sow-entry-project-type {
					color: #929292;
					display: block;
					font-size: .75rem;
					font-weight: 600;
					letter-spacing: 1px;
					line-height: 1.7333;
					position: absolute;
					text-align: center;
					text-transform: uppercase;
					top: 50.5%;
					width: 100%;
				}
			}
		}
	}
}
