.sow-blog-layout-grid article {
	background: #fff;
	border: 1px solid #e6e6e6;
	.entry-header .entry-title {
		font-size: 25px;
		a {
			color: #2d2d2d;
			&:hover,
			&:focus {
				color: #626262;
			}
		}
	}

	.entry-content {
		font-size: 15px;
	}
}
