.sow-google-map-canvas img {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  line-height: normal !important;
  max-width: none !important;
  zoom: normal !important;
}
